body{
    font-family: Arial, Helvetica, sans-serif;
}

/*COMMON RULES*/

[class^="col-"]{
    border: 1px solid red;
}

.uppercase{
    text-transform: uppercase;
}

.no-padding{
    padding: 0;
}

.gio_button{
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
}

.buy-now{
    border-color: #dc3545;
    background-color: #dc3545;
}

.descover-more{
    border-color: rgb(60, 60, 255);
    background-color: rgb(60, 60, 255);
}

.gio_lightblue-text{
    color: rgb(69, 121, 255);
}

.gio_gray-text{
    color: rgb(148, 148, 148);
}

.gio_small-text{
    font-size: 13px;
}

/*HEADER*/

/*LOGO*/

.sony-top-logo{
    height: 40px;
    padding-right: 10px;
    background-color: black;
}

.sony-top-logo img{
    height: 100%;
    width: 70px;
}

/*NAV_BAR*/

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

#navbarDropdown{
    color: black;
}

#lens{
    width: 20px;
    margin-left: 20px;
}

header nav i{
    margin-left: 10px;
    font-size: 10px;
    color: rgb(133, 133, 133);
}

.dropdown-toggle::after{
    content: none;
}

.gio_log-in{
    border-radius: 30px;
    border: none;
    padding: 2px 15px;
    font-size: 0.8em;
}


/*FIRST JUMBOTRON*/

.jumbotron{
    display: flex;
    height: 70vh;
    background-size: cover;
    background-position: center;
    min-width: 337px;
}

#first_jumbo{
    background-image: url(../img/jumbo-bg.png);
    padding: 20px;
}

.first_jumbo_box{
    height: 45vh;
}

#returnal-logo-text{
    background-image: url(../img/returnal-hero-banner-logo.png);
    height: 15%;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #returnal-logo-text{
        height: 20%;
    }
}


@media screen and (min-width: 992px) {
    #returnal-logo-text{
        height: 10%;
    }
}

/*JUMBOTRON #2*/

#jumboN2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.second_jumbo_box{
    height: 65vh;
}

.it-takes-two{
    background-image: url(../img/it-takes-two-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30vh;
}

/*CAROUSEL*/

.carousel{
    margin-bottom: 100px;
}

.carousel_content{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid white;
}

.carousel_content:hover{
    border-color: rgb(45, 154, 226);
}

.carousel_content img{
    width: 100%;
    border: 2px solid white;
    border-radius: 8px;
}

/*PlayStation 5 console*/

.play-5{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}

/*PlayStation 5 accessories*/

.wrap-accessories{
    width: 100%;
    padding-bottom: 10px;
    color: gray;
}

.wrap-accessories img{
    width: 100%;
}

.wrap-accessories:hover{
    color: black;
}

.accessories-underline{
    border-bottom: 2px solid rgb(255, 255, 255);
}

.accessories-underline:hover{
    border-bottom: 2px solid rgb(45, 154, 226);
}

@media screen and (max-width: 768px) {
    .wrap-accessories h6{
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #accessories-5{
        justify-content: space-evenly;
    }

    .it-takes-two{
        height: 30%;
    }
}

/*NUOVE USCITE*/

.nuove-uscite-wrapper{
    background-color: rgb(68, 68, 68);
    color: white;
    padding-top: 20px;
    margin-bottom: 80px;
}

.nuove-uscite-content{
    width: 100%;
}

.nuove-uscite-img{
    width: 100%;
    border-radius: 20px;
}

/*PLAYSTATION 4*/

.ps4-content, .ps4-img{
    width: 100%;
}
