body{
    font-family: Arial, Helvetica, sans-serif;
}

/*COMMON RULES*/

[class^="col-"]{
    border: 1px solid red;
}

.uppercase{
    text-transform: uppercase;
}

.no-padding{
    padding: 0;
}

/*HEADER*/

/*LOGO*/

.sony-top-logo{
    height: 40px;
    padding-right: 10px;
    background-color: black;
}

.sony-top-logo img{
    height: 100%;
    width: 70px;
}

/*NAV_BAR*/

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

#navbarDropdown{
    color: black;
}

#lens{
    width: 20px;
    margin-left: 20px;
}

header nav i{
    margin-left: 10px;
    font-size: 10px;
    color: rgb(133, 133, 133);
}

.dropdown-toggle::after{
    content: none;
}

.gio_log-in{
    border-radius: 30px;
    border: none;
    padding: 2px 15px;
    font-size: 0.8em;
}


/*FIRST JUMBOTRON*/

.jumbotron{
    height: 70vh;
    background-size: cover;
    background-position: center;
}

#first_jumbo{
    background-image: url(../img/jumbo-bg.png);
}

.first_jumbo_box{
    height: 45vh;
}

#returnal-logo-text{
    background-image: url(../img/returnal-hero-banner-logo.png);
    height: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid red;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #returnal-logo-text{
        height: 25%;
    }
}


@media screen and (min-width: 992px) {
    #returnal-logo-text{
        height: 10%;
    }
}
