body{
    font-family: Arial, Helvetica, sans-serif;
}

/*COMMON RULES*/

[class^="col-"]{
    border: 1px solid red;
}

.uppercase{
    text-transform: uppercase;
}

.no-padding{
    padding: 0;
}

.gio_button{
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
}

.buy_now{
    border-color: #dc3545;
    background-color: #dc3545;
}

.gio_lightblue-text{
    color: rgb(69, 121, 255);
}

.gio_gray-text{
    color: rgb(148, 148, 148);
}

.gio_small-text{
    font-size: 13px;
}

/*HEADER*/

/*LOGO*/

.sony-top-logo{
    height: 40px;
    padding-right: 10px;
    background-color: black;
}

.sony-top-logo img{
    height: 100%;
    width: 70px;
}

/*NAV_BAR*/

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

#navbarDropdown{
    color: black;
}

#lens{
    width: 20px;
    margin-left: 20px;
}

header nav i{
    margin-left: 10px;
    font-size: 10px;
    color: rgb(133, 133, 133);
}

.dropdown-toggle::after{
    content: none;
}

.gio_log-in{
    border-radius: 30px;
    border: none;
    padding: 2px 15px;
    font-size: 0.8em;
}


/*FIRST JUMBOTRON*/

.jumbotron{
    height: 70vh;
    background-size: cover;
    background-position: center;
    min-width: 257px;
}

#first_jumbo{
    background-image: url(../img/jumbo-bg.png);
    padding: 20px;
}

.first_jumbo_box{
    height: 45vh;
}

#returnal-logo-text{
    background-image: url(../img/returnal-hero-banner-logo.png);
    height: 15%;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #returnal-logo-text{
        height: 20%;
    }
}


@media screen and (min-width: 992px) {
    #returnal-logo-text{
        height: 10%;
    }
}

/*CAROUSEL*/

.carousel{
    margin-bottom: 100px;
}

.carousel_content{
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid white;
}

.carousel_content:hover{
    border-color: rgb(45, 154, 226);
}

.carousel_content img{
    width: 100%;
    border: 2px solid white;
    border-radius: 8px;
}

/*PlayStation 5 console*/

.play-5{
    width: 100%;
    padding: 60px;
}